@{
    ViewData["Title"] = "About";
}
<h1>About</h1>
<h2>Planning Sacrament Meeting</h2>

<p>The bishopric plans and conducts sacrament meeting. They ensure that the focus of the meeting is on the sacrament and building faith in Jesus Christ.</p>
<p>Sacrament meeting lasts one hour. It can include the following:</p>
<ol>
    <li>Prelude music. Reverent music before the meeting starts can invite a spirit of worship.</li>
    <li>Greeting and welcome.</li>
    <li>Acknowledgment of presiding authorities or other leaders who are visiting. Presiding authorities and visiting high councilors should be invited to sit on the stand. General Officers are also invited to sit on the stand unless they are attending their home ward.</li>
    <li>Announcements. These should be kept to a minimum. Most can be printed, shared electronically, or shared in other meetings.</li>
    <li>Opening hymn and prayer.</li>
    <li>Ward and stake business.</li>
    <li>Naming and blessing children. This is usually done in fast and testimony meeting.</li>
    <li>Confirming new converts.</li>
    <li>Sacrament hymn and administration of the sacrament. The sacrament is the main focus of the meeting. Other parts of the meeting should not detract from it. This ordinance is an opportunity for members to direct their thoughts toward the Savior and His sacrifice for them. It should be a sacred time of spiritual renewal.</li>
    <li>Gospel messages and congregational singing or other music. Messages and music should be consistent with the sacred nature of the sacrament.</li>
    <li>Closing hymn and prayer.</li>
    <li>Postlude music.</li>
</ol>

<p><i>Info provided from General Handbook <a href="https://www.churchofjesuschrist.org/study/manual/general-handbook/29-meetings-in-the-church?lang=eng">29.2.1.1</a></i></p>

<hr />

<div>
    <h2>Created by:</h2>
    <p>Ian Rogers</p>
    <p>Pierre Aguirre</p>
    <p>Seth Bolander</p>
    <p>Wesly Gatner</p>
</div>