@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Sacrament Meeting Planner</h1>
</div>

<div class="iframe">
    <iframe class="responsive-iframe" src='//players.brightcove.net/1241706627001/default_default/index.html?videoId=1310840525001' allowfullscreen frameborder=0 alt="purposes of sacrament meeting"></iframe>
</div>

<section class="description">
    <div>
        <h2>Purposes</h2>
        <p>Remember Jesus Christ by partaking of the sacrament. In this ordinance, Church members renew their covenant to take upon themselves the Savior’s name, to always remember Him, and to keep His commandments. Other purposes include worshipping, building faith and testimony, and conducting ward business.</p>
    </div>

    <div>
        <h2>Participants</h2>
        <p>All are invited to attend (see <a href="https://www.churchofjesuschrist.org/study/scriptures/bofm/3-ne/18.30-32?lang=eng#p30">3 Nephi 18:30–32</a>; see also <a href="https://www.churchofjesuschrist.org/study/manual/general-handbook/38-church-policies-and-guidelines?lang=eng&para=title_number3-p7#title_number3">38.1.1</a> in the General Handbook).</p>
    </div>

    <div>
        <h2>Frequency</h2>
        <p>Each Sunday.</p>
    </div>
</section>